body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.admin-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #343a40;
}

.admin-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

button, a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button {
  background-color: #007bff;
}

a {
  background-color: #007bff;
}

.admin-content {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.product-container {
  width: 200px;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-container:hover {
  transform: translateY(-5px);
}

.product-container h3 {
  color: #343a40;
  margin-bottom: 8px;
}

.product-container p {
  color: #6c757d;
  margin-bottom: 8px;
}

.product-container img {
  width: 100%;
  max-height: 120px;
  object-fit: cover;
  border-radius: 4px;
}


@media (max-width: 768px) {
  .product-container {
      width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product-container {
      width: 100%;
  }
}
