/* General styling */
body {
    font-family: 'Roboto', sans-serif; /* Use a modern, professional font */
    background-color: #f2f2f2;
    margin: 0;
    color: #333;
  }
  
  /* Main content container */
  .admin-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Product container */
  .product-container {
    width: 25%; /* Adjust width as needed */
    margin: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    overflow: hidden; /* Enable image cropping */
    text-align: center;
  }
  
  .product-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .product-container h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 5px;
  }
  
  .product-container p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #666; /* Lighter text color for description */
  }
  
  .product-container p:last-child {
    margin-bottom: 0; /* Remove margin from price */
  }
  